﻿@color-gray-light: #F3F5F4;
@color-gray: #DBDBDB;
@color-gray-dark: #868E90;
@color-blue: #16B4D8; /* Цвет компании */
@color-yelow-light: #FFE499;
@color-yelow: #EFB521;

.a2-alert-popup {
    font-size: 12px;

    .a2-alert-popup-header {
        height: 24px;
        font-size: 18px;
        line-height: 30px;
        padding: 0 12px 6px 36px;
        border-bottom: 2px solid @color-gray;
        background: url("../../Images/Icons/icon_small_blue.png") no-repeat 10px 7px;
        font-weight: 500;

        > span {
            float: right;
            cursor: pointer;
            color: @color-gray;
        }
    }

    .a2-alert-popup-body {
        padding: 12px 12px 6px 12px;
		a {
			color: blue;
		}
    }

    .a2-alert-popup-footer {
        float: right;
        margin: 12px;
        cursor: pointer;

        .a2-alert-popup-apply_btn {
            color: white;
            background-color: @color-blue;
            border: 1px solid @color-blue;
            padding: 0 12px;
        }
    }
}