﻿@color-gray-light: #F3F5F4;
@color-gray: #DBDBDB;
@color-gray-dark: #868E90;
@color-blue: #16B4D8; /* Цвет компании */
@color-yelow-light: #FFE499;
@color-yelow: #EFB521;


.a2-confirm-popup {
    font-size: 12px;

    .a2-confirm-popup-header {
        height: 24px;
        font-size: 18px;
        line-height: 30px;
        padding: 0 12px 6px 36px;
        border-bottom: 2px solid @color-gray;
        background: url("../../Images/Icons/icon_small_blue.png") no-repeat 10px 7px;
        font-weight: 500;

        > span {
            float: right;
            cursor: pointer;
            color: @color-gray;
        }
    }

    .a2-confirm-popup-body {
        padding: 12px 12px 6px 12px;
    }

    .a2-confirm-popup-footer {
        float: right;
        margin: 12px;
        font-size: 12px;
        cursor: pointer;

        > * {
            display: block;
            float: right;
            margin: 12px 12px 6px 12px;
            cursor: pointer;
        }

        .a2-confirm-popup-apply_btn {
            color: white;
            background-color: @color-blue;
            border: 1px solid @color-blue;
            padding: 0 12px;
        }

        .a2-confirm-popup-cancel_btn {
            color: @color-blue;
            background-color: lighten(@color-blue, 50%);
            border: 1px solid @color-blue;
            padding: 0 12px;
        }
    }
}