﻿@color-gray-light: #F3F5F4;
@color-gray: #DBDBDB;
@color-gray-dark: #868E90;
@color-blue: #16B4D8; /* Цвет компании */
@color-yelow-light: #FFE499;
@color-yelow: #EFB521;

.a2-image_viewer-wrapper {
    position: relative;
    /* scale */
    .a2-image_viewer-scale {
        position: relative;
        height: 20px;
        width: 340px;
        top: 6px;
        float: right;

        .a2-image_viewer-scale-label,
        .a2-image_viewer-scale-zoomer {
            display: inline-block;
            vertical-align: top;
            height: 100%;
        }

        .a2-image_viewer-scale-label {
            width: 112px;
            height: 100%;
            font-size: 14px;

            > span {
                font-weight: bold;
            }
        }

        .a2-image_viewer-scale-zoomer {
            width: 200px;
            height: 100%;
        }
    }

    .a2-image_viewer-pages {
        width: 150px;

        .a2-image_viewer-page {
            height: 200px;
        }
    }

    .a2-image_viewer-images {
        margin: 5px 0px 0px 0px;

        .a2-image_viewer-image {
        }
    }
}
