﻿@color-gray-light: #F3F5F4;
@color-gray: #DBDBDB;
@color-gray-dark: #868E90;
@color-blue: #16B4D8; /* Цвет компании */
@color-yelow-light: #FFE499;
@color-yelow: #EFB521;

.a2-toolbar {
    height: 48px;
    background-color: @color-blue;

    .a2-toolbar-buttons {
        margin: 0;
        padding-left: 24px;
        height: 48px;
        line-height: 48px;
        list-style-type: none;
        font-size: 11px;
        color: white;

        .a2-toolbar-button-holder {
            float: left;
            width: 80px;
            padding-left: 28px;
            background-image: url("../../Images/Icons/big_icon.png");
            background-repeat: no-repeat;
            background-position: 0px 12px;
            cursor: pointer;

            &.createLetter {
                background-image: url("../../Images/Icons/24create.png");
            }

            &.deleteLetter {
                background-image: url("../../Images/Icons/24delete.png");
            }

            &.forwardLetter {
                background-image: url("../../Images/Icons/24resend.png");
            }

            &.answerLetter {
                background-image: url("../../Images/Icons/24replay.png");
            }

            &.openAddressBook {
                background-image: url("../../Images/Icons/24book.png");
            }

            &.sendLetter {
                background-image: url("../../Images/Icons/24send.png");
            }

            &.attachFile {
                background-image: url("../../Images/Icons/24add.png");
            }
        }

        .a2-toolbar-button-holder.disabled {
            &.deleteLetter {
                background-image: url("../../Images/Icons/24delete_lines.png");
            }

            a {
                color: @color-gray-dark;
            }
        }

        .a2-toolbar-button-holder.active {
            a {
                color: @color-blue;
            }
        }
    }
}
