﻿@color-gray-light: #F3F5F4;
@color-gray: #DBDBDB;
@color-gray-dark: #868E90;
@color-blue: #16B4D8; /* Цвет компании */
@color-yelow-light: #FFE499;
@color-yelow: #EFB521;

@height_top_panel: 48px;

.a2-application-header {
	background-color: white;
	width: 100%;

	.HeaderPanel {
		.header_logo {
			float: left;
			width: 315px;

			img {
				width: 26px;
				padding: 8px 17px 8px 24px;
				float: left;
			}

			div {
				line-height: @height_top_panel;
				color: @color-blue;
				font-size: 16px;
			}
		}

		.header_user {
			float: right;
			height: @height_top_panel;
			line-height: @height_top_panel;
			vertical-align: middle;
			color: #4A4A4A;
			font-size: 14px;
			cursor: pointer;
		}

		.header_tools {
			float: right;
			padding: 10px 6px;

			img {
				padding: 0 6px;
			}
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	&.opened {
		.ContentPanel {
			&:before {
				content: "Мой аккаунт";
				display: block;
				color: white;
				background-color: @color-blue;
				font-size: 18px;
				padding: 10px 0px 10px 30px;
			}

			.AccountPanel {
				padding: 20px 0px 20px 0px;
				border-bottom: 1px solid #EAEAEA;

				.icon {
					display: inline-block;
					width: 60px;
					height: 60px;
					background: url(../Images/avatar.png) no-repeat;
					margin: 0px 30px 0px 30px;
				}

				.title {
					display: inline-block;
					position: relative;
					top: -15px;
					margin: 0px 30px 0px 0px;

					.label {
						font-weight: bold;
						font-size: 16px;
					}

					.status {
						font-size: 12px;
						color: #696969;

						&.confirmed {
							color: #95BF37;
						}
					}
				}

				.contact {
					display: inline-block;
					margin: 0px 0px 0px 30px;
					position: relative;
					top: -25px;
					font-size: 12px;
					font-weight: bold;

					&:before {
						content: "";
						display: inline-block;
						margin-right: 15px;
						width: 20px;
						height: 20px;
						position: relative;
						top: 5px;
					}

					&.phone:before {
						background: url(../Images/Icons/phone.png) no-repeat;
					}

					&.email:before {
						background: url(../Images/Icons/mail.png) no-repeat;
					}
				}

				.toolbar {
					display: inline-block;
					float: right;
					margin: 0px 40px 0px 0px;
					list-style: none;

					@color: #15B3D8;
					@hover-color: darken(@color, 10%);

					li {
						color: @color;
						margin: 0px 0px 5px 0px;
						cursor: pointer;

						&:before {
							content: "";
							display: inline-block;
							width: 20px;
							height: 20px;
							border: 1px solid @color;
							position: relative;
							top: 5px;
							margin-right: 10px;
						}

						&:hover {
							color: @hover-color;

							&:before {
								border: 1px solid @hover-color;
							}
						}
					}
				}
			}

			.ServicesPanel {
				&:before {
					content: "Сервисы Деловой сети";
					display: block;
					color: #6E6E6E;
					font-size: 20px;
					margin: 0px 0px 20px 0px;
				}

				li {
					display: inline-block;
					text-align: center;
					padding: 20px;
					border: 1px solid #BDF2F9;
					width: 220px;

					&:hover {
						background-color: #E5F7FB;
					}

					a, a:hover, a:visited {
						text-decoration: none;
					}

					.title {
						display: block;
						color: #16B4D8;
						margin-bottom: 20px;

						&:before {
							content: "";
							display: block;
							margin: 0 auto;
							width: 93px;
							height: 93px;
							background-color: #D8D8D8;
							margin-bottom: 30px;
						}
					}

					.description {
						font-size: 12px;
						color: #6E6E6E;
					}
				}

				li + li {
					margin-left: 20px;
				}
			}
		}
	}
}
