﻿@color-gray-light: #F3F5F4;
@color-gray: #DBDBDB;
@color-gray-dark: #868E90;
@color-blue: #16B4D8; /* Цвет компании */
@color-yelow-light: #FFE499;
@color-yelow: #EFB521;

.a2-application-vertical_menu {
    min-width: 166px;
    width: 166px;
    border-right: 1px solid @color-gray;

    .a2-vertical_menu {
        height: 100%;
        background-color: @color-gray-light;
    }

    .a2-vertical_menu-buttons {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 13px;
        color: #4A4A4A;
        background-color: @color-blue;

        .a2-vertical_menu-button-holder {
            height: 48px;
            line-height: 48px;
            padding-left: 52px;
            background-image: url("../../Images/Icons/icon_small_gray.png");
            background-repeat: no-repeat;
            background-position: 24px 17px;
            cursor: pointer;
            background-color: @color-gray-light;

            &.incoming {
                background-image: url("../../Images/Icons/16inbox_gray.png");
            }

            &.outcoming {
                background-image: url("../../Images/Icons/16outbox_gray.png");
            }

            &.draft {
                background-image: url("../../Images/Icons/16draft_gray.png");
            }

            &.trash {
                background-image: url("../../Images/Icons/16trash_gray.png");
            }
        }

        .a2-vertical_menu-button-holder.active {
            margin-left: 4px;
            padding-left: 48px;
            background-image: url("../../Images/Icons/icon_small_blue.png");
            background-repeat: no-repeat;
            background-position: 20px 17px;
            color: @color-blue;
            background-color: white;

            &.incoming {
                background-image: url("../../Images/Icons/16inbox_blue.png");
            }

            &.outcoming {
                background-image: url("../../Images/Icons/16outbox_blue.png");
            }

            &.draft {
                background-image: url("../../Images/Icons/16draft_blue.png");
            }

            &.trash {
                background-image: url("../../Images/Icons/16trash_blue.png");
            }
        }

        .a2-vertical_menu-button-holder.active a {
        }
    }
}
