﻿.a2-zoomer {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.a2-zoomer-left_circle,
.a2-zoomer-right_circle,
.a2-zoomer-slider,
.a2-zoomer-line {
	display: block;
	position: absolute;
	background-color: grey;
}

.a2-zoomer-left_circle,
.a2-zoomer-right_circle {
	width: 6px;
	height: 6px;
	border-radius: 3px;
	top: 50%;
	margin-top: -3px;
}

.a2-zoomer-left_circle {
	left: 0;
}

.a2-zoomer-right_circle {
	right: 0;
}

.a2-zoomer-line {
	width: 100%;
	height: 2px;
	top: 50%;
	margin-top: -1px;
}

.a2-zoomer-slider {
	background-color: transparent;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: grey transparent transparent transparent;
	top: 2px;
	left: 95px;
}
