﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link href="~/Content/Styles/Application.css" rel="stylesheet" />
	<script src="Scripts/node_modules/es5-shim/es5-shim.min.js"></script>
	<script src="Scripts/node_modules/es6-shim/es6-shim.min.js"></script>
	<script src="Scripts/node_modules/requirejs/require.js"></script>
	<script>
		require.config({
			paths: {
				"react": "Scripts/node_modules/react/umd/react.development",
				"react-dom": "Scripts/node_modules/react-dom/umd/react-dom.development",
				"classnames": "Scripts/node_modules/classnames/index",
				"tinymce": "Scripts/node_modules/tinymce/tinymce.min",
			},
			shim: {
				tinymce: {
					exports: 'tinymce'
				}
			}
		});
	</script>
</head>
<body>
    @RenderBody()
</body>
</html>
