﻿@color-gray-light: #F3F5F4;
@color-gray: #DBDBDB;
@color-gray-dark: #868E90;
@color-blue: #16B4D8; /* Цвет компании */
@color-yelow-light: #FFE499;
@color-yelow: #EFB521;

.a2-address_book {
    font-size: 13px;
    width: 700px;

    .a2-address_book-header {
        font-size: 18px;
        padding: 6px 12px 6px 42px;
        border-bottom: 2px solid @color-gray;
        background: url("../Images/Icons/mail.png") no-repeat 12px 10px;
        font-weight: 500;

        > span {
            float: right;
            cursor: pointer;
            color: @color-gray;
        }
    }

    .a2-address_book-search_field-holder {
        position: relative;
        padding: 6px 0px;
        display: inline-flex;
        background-color: @color-gray-dark;
        color: white;
        width: 100%;

        .a2-address_book-search_field {
            border-width: 0px;
            padding: 0 18px 0 36px;
            line-height: 24px;
            background: @color-gray-dark url("../Images/Icons/search_w_icon.png") no-repeat 15px 3px;
            width: 100%;
        }

        .a2-address_book-search_reset_btn {
            position: relative;
            top: 4px;
            right: 16px;
            width: 10px;
            cursor: pointer;
            color: white;
        }
    }

    .a2-adress_book-organisations {
        padding: 0;
        line-height: 24px;

        .a2-adress_book-organisation {
            cursor: pointer;

            .a2-adress_book-organisation-name {
                padding: 0px 12px;
                line-height: 36px;
                color: @color-gray-dark;
                border-bottom: 1px solid @color-gray-dark;
            }
        }

        .a2-adress_book-organisation.active {
            .a2-adress_book-organisation-name {
                background-color: @color-blue;
                color: white;
                border-color: @color-blue;
            }

            .a2-adress_book-organisation-members {
                list-style-type: none;
                margin: 0;
                padding: 0;
                border: 2px solid @color-blue;
                width: 100%;

                .a2-adress_book-organisation-member {
                    line-height: 36px;
                    background-color: @color-gray-light;
                    cursor: pointer;

                    > td {
                        padding: 0 12px;
                        border-bottom: 1px solid white;
                    }

                    .a2-member-name {
                        padding-left: 44px;
                        background: url("../Images/Icons/star_gray_icon.png") no-repeat 12px 8px;
                    }

                    .a2-member-post {
                        color: @color-gray-dark;
                    }
                }
            }

            .a2-adress_book-organisation-member.certified {
                .a2-member-name {
                    background: url("../Images/Icons/star_color_icon.png") no-repeat 12px 8px;
                }
            }
        }
    }

    .a2-adress_book-search_prompt {
        padding: 12px;
        line-height: 12px;
    }

    .a2-adress_book-search_result {
        width: 100%;

        td {
            padding: 12px;
            line-height: 12px;
            border-bottom: 1px solid @color-gray-dark;
        }

        .a2-adress_book-search_result-header {
            color: @color-gray-dark;
            background-color: @color-gray-light;
            font-weight: bold;
        }

        .a2-adress_book-search_result-loading {
            font-weight: bold;
        }

        .a2-adress_book-search_result-empty {
            font-weight: bold;
            color: darkred;
        }

        .a2-adress_book-search_result-finded_user {
            line-height: 36px;
            cursor: pointer;

            .a2-user-organisation {
            }

            .a2-user-name {
                padding-left: 44px;
                background: url("../Images/Icons/star_gray_icon.png") no-repeat 12px 8px;
            }
        }

        .a2-adress_book-search_result-finded_user.certified {
            .a2-user-name {
                background: url("../Images/Icons/star_color_icon.png") no-repeat 12px 8px;
            }
        }
    }
}


