﻿@color-gray-light: #F3F5F4;
@color-gray: #DBDBDB;
@color-gray-dark: #868E90;
@color-blue: #16B4D8; /* Цвет компании */
@color-yelow-light: #FFE499;
@color-yelow: #EFB521;

@import './Components/TopPanel.less';
@import './Components/Toolbar.less';
@import './Components/VerticalMenu.less';
@import './Components/Modal.less';
@import './Components/Alert.less';
@import './Components/Confirm.less';
@import './Components/ImageViewer.less';
@import './Components/InfiniteScroll.less'; 
@import './Components/Zoomer.less';
@import './AddressBook.less';
@import './CertificateInfo.less';
@import './Login.less';
@import './LetterAttachments.less'; 
@import './LetterDetails.less';
@import './LetterForm.less';
@import './LettersList.less';

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: @color-gray-light;
}

.a2-application td {
	vertical-align: top;
}
