﻿@color-gray-light: #F3F5F4;
@color-gray: #DBDBDB;
@color-gray-dark: #868E90;
@color-blue: #16B4D8; /* Цвет компании */
@color-yelow-light: #FFE499;
@color-yelow: #EFB521;

.a2-certificate_info {
    width: 500px;
    padding: 6px 18px;
    font-size: 12px;
    line-height: 24px;

    .a2-certificate_info-header {
        font-size: 18px;
        padding: 0 0 6px 36px;
        border-bottom: 2px solid @color-gray;
        background: url("../Images/Icons/certificate.png") no-repeat 6px 4px;
        font-weight: 500;

        > span {
            float: right;
            cursor: pointer;
            color: @color-gray;
        }
    }

    .a2-certificate_info-issue_info {
        padding: 6px 0;

        .a2-certificate_info-key {
        }

        .a2-certificate_info-value {
            padding-left: 12px;
            font-weight: 500;
        }
    }

    .a2-certificate_info-tabs {
        border-top: 2px solid @color-gray;
        width: 100%;
        font-size: 14px;

        .a2-certificate_info-tab {
            border-top: 3px solid white;
            text-align: center;
            cursor: pointer;
            font-weight: bold;
            color: @color-gray-dark;
        }

        .a2-certificate_info-tab.active {
            border-top-color: @color-blue;
            color: @color-blue;
        }
    }

    .a2-certificate_info-common_info {
        .a2-common_info-header {
            padding-top: 12px;
            font-weight: 500;
        }

        .a2-common_info-list {
            padding-left: 16px;
        }
    }

    .a2-certificate_info-content_info {
        .a2-certificate_info-key {
            vertical-align: top;
            width: 135px;
        }

        .a2-certificate_info-value {
            padding-left: 12px;
            font-weight: 500;
        }
    }

    .a2-certificate_info-buttons_box {
        > * {
            float: right;
            margin: 12px 12px 24px 12px;
            font-size: 14px;
            cursor: pointer;
        }

        .a2-certificate_info-button_ok {
            color: white;
            background-color: @color-blue;
            border: 1px solid @color-blue;
            padding: 0 12px;
        }
    }
}
