﻿@color-gray-light: #F3F5F4;
@color-gray: #DBDBDB;
@color-gray-dark: #868E90;
@color-blue: #16B4D8; /* Цвет компании */
@color-yelow-light: #FFE499;
@color-yelow: #EFB521;

.a2-letter-details {
	background-color: @color-gray-light;

	.a2-letter-header {
		line-height: 34px;
		background-color: white;

		.a2-letter-subject {
			padding-left: 24px;
			font-size: 18px;
			color: #1D1D1D;
		}

		.a2-letter-date {
			font-size: 16px;
			color: @color-gray-dark;
		}
	}

	.a2-letter-attachments-list {
		margin: 0;
		padding: 6px 0 32px 12px;
		list-style: none;
		line-height: 24px;
		background-color: white;

		.a2-letter-attachment-holder {
			float: left;
			padding-left: 42px;
			background-image: url("../Images/Icons/20FILE.png");
			background-repeat: no-repeat;
			background-position: 16px 3px;
			cursor: pointer;

			&.pdf {
				background-image: url("../Images/Icons/20PDF.png");
			}

			&.image {
				background-image: url("../Images/Icons/20Picture.png");
			}

			&.plain {
				background-image: url("../Images/Icons/20TEXT.png");
			}

			.a2-letter-attachment {
				font-size: 14px;
				font-weight: bold;
			}
		}

		.a2-letter-attachment-holder.active {
			.a2-letter-attachment {
				color: @color-blue;
			}
		}
	}

	.a2-letter-body-box {
		clear: both;
		background-color: white;

		> hr {
			margin: 0 24px;
		}

		.a2-letter-body {
			padding: 8px 24px 12px 24px;
			font-size: 14px;
		}
	}

	.a2-letter-send_read_notification_btn {
		display: block;
		float: right;
		margin-top: 5px;
		height: 22px;
		width: 23px;
		background: url(../Images/Icons/bell-ring_icon.png) no-repeat 1px 1px;
		cursor: pointer;
		border: 1px solid transparent;

		&:active {
			border: 1px solid @color-blue;
		}
	}
}
