﻿@color-gray-light: #F3F5F4;
@color-gray: #DBDBDB;
@color-gray-dark: #868E90;
@color-blue: #16B4D8; /* Цвет компании */
@color-yelow-light: #FFE499;
@color-yelow: #EFB521;

.a2-application-letters_list {
    width: 845px;
    min-width: 845px;
    padding: 0 12px 0 24px;
}

.a2-short-letters-list {
    background-color: @color-gray-dark;
}

.a2-short-letters-list-item {
    border-spacing: 0px;
    padding: 20px;
    background-color: white;
    border-bottom: 2px solid @color-gray-light;
}


.a2-letter-state-uncollapsed {
	padding: 20px;
	font-size: 12px;
	text-align: center;
	color: @color-gray;

	.a2-states-list {
		width: 100%;

		.a2-state {
			display: block;
			float: left;
			width: 33.33%;
			background: url("../Images/Icons/icon_small_gray.png") no-repeat center 0px;
			padding-top: 20px;

			.a2-col-2 &:last-of-type {
				margin-left: 33.33%;
			}

			.a2-state-circle {
				display: block;
				margin: 0 auto;
				margin-top: 19px;
				width: 8px;
				height: 8px;
				border-radius: 4px;
				background: @color-gray-dark;
			}

			&.active {
				color: black;
				background: url("../Images/Icons/icon_small_blue.png") no-repeat center 0px;

				.a2-state-circle {
					margin-top: 18px;
					width: 10px;
					height: 10px;
					border-radius: 5px;
					background: @color-yelow;
				}
			}
		}

		&::after {
			clear: both;
		}
	}

	.a2-letter-state-progress {
		margin: 0 auto;
		margin-top: 58px;
		width: 66.7%;
		height: 2px;
		background: @color-gray-dark;

		.a2-progress-gradient {
			display: block;
			height: 100%;
			width: 0;
			background: linear-gradient(90deg, @color-yelow, @color-gray-dark);
		}

		.a2-col-3 &-33 {
			.a2-progress-gradient {
				width: 50%;
			}
		}

		.a2-col-3 &-67, .a2-col-2 &-50 {
			.a2-progress-gradient {
				width: 100%;
			}
		}

		&-100 {
			.a2-progress-gradient {
				display: none;
			}

			background: @color-yelow;
		}
	}
}

.a2-letter-cell {
    border: 0;
    padding: 0;
    margin: 0;
}

.a2-short-letters-list-header-table {
    margin: 0 20px;
}

.a2-short-letters-list-header {
    font-size: 11px;
    font-weight: bold;
    color: white;
    line-height: 36px;
    background-color: @color-gray-dark;
}

.a2-list-header-subject, .a2-letter-subject {
    width: 220px;
}

.a2-letter-subject {
    font-size: 13px;
    font-weight: bold;
}

.a2-letter-state {
    font-size: 13px;
    font-style: italic;
    color: #1D1D1D;
    text-align: center;

    > span {
        background-color: @color-yelow-light;
        padding: 2px 8px;
    }
}

.a2-list-header-date, .a2-letter-date {
    width: 70px;
    text-align: center;
}

.a2-letter-date {
    font-size: 12px;
}

.a2-list-header-sender, .a2-list-header-receiver, .a2-letter-org_name, .a2-letter-names, .a2-letter-post {
    width: 228px;
    max-width: 228px;
    padding: 0 6px;
}

.a2-letter-org_name, .a2-letter-names, .a2-letter-post {
    font-size: 12px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    border-color: white;
    border-style: solid;
}

.a2-letter-names.hovered, .a2-letter-post.hovered {
    background-color: lighten(@color-blue, 50%);
    border-color: @color-blue;
}

.a2-letter-org_name {
    border-width: 1px 1px 0 1px;
}

.a2-letter-org_name.hovered {
    background: url("../Images/Icons/card_icon.png") no-repeat 215px 0px;
    background-color: lighten(@color-blue, 50%);
    border-color: @color-blue;
}

.a2-letter-names {
    font-style: italic;
    border-width: 0 1px 0 1px;
}

.a2-letter-post {
    border-width: 0 1px 1px 1px;
}

.a2-letter-org_name-label, .a2-letter-names-label, .a2-letter-post-label {
    color: #868686;
}

.a2-list-header-arrow, .a2-letter-collapsed_arrow, .a2-letter-uncollapsed_arrow {
    width: 18px;
}

.a2-letter-collapsed_arrow {
    background: url("../Images/Icons/arrow-close_icon.png") no-repeat 6px 5px;
}

.a2-letter-uncollapsed_arrow {
    background: url("../Images/Icons/arrow-open_icon.png") no-repeat 6px 5px;
}