﻿.a2-letter-attachment-holder {
	&.active a {
		color: blue;
	}

	position: relative;
	display: block;

	.download-btn {
		color: green;
		display: none;
		position: absolute;
		top: -20px;
		left: 0px;
	}

	&:hover .download-btn {
		display: block;
	}
}
