﻿@color-gray-light: #F3F5F4;
@color-gray: #DBDBDB;
@color-gray-dark: #868E90;
@color-blue: #16B4D8; /* Цвет компании */
@color-yelow-light: #FFE499;
@color-yelow: #EFB521;

.a2-letter_form {
    font-size: 12px;
    line-height: 24px;

    .a2-letter_form-header {
        font-size: 18px;
        padding: 6px 12px 6px 42px;
        border-bottom: 2px solid @color-gray;
        background: url("../Images/Icons/mail.png") no-repeat 12px 10px;
        font-weight: 500;

        > span {
            float: right;
            cursor: pointer;
            color: @color-gray;
        }
    }

    .a2-letter_form-toolbar {
        .a2-letter_form-file_field {
            display: block;
            position: relative;
            overflow: hidden;
            font-size: 12px;
            width: 92px;
            height: 48px;
            line-height: 48px;

            .a2-letter_form-file_button {
                display: block;
                cursor: pointer; /* example */
                float: right;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                width: 8em; /* example */
                height: 100%;
                text-align: center /* example */
            }

            .a2-letter_form-file_input {
                position: absolute;
                top: 0;
                opacity: 0;
                width: 86px;
                height: 48px;
                cursor: pointer;
            }
        }
    }

    .a2-letter_form-props_box {
        line-height: 32px;

        .a2-letter_form-props-key {
            width: 96px;
            padding-left: 12px;
            border-bottom: 1px solid @color-gray;
        }

        .a2-letter_form-props-value {
            font-weight: bold;
            padding-right: 12px;
            border-bottom: 1px solid @color-gray;

            .a2-letter_form-receiver_blank {
                width: 22px;
                height: 22px;
                border-radius: 11px;
                color: white;
                background-color: @color-blue;
                line-height: 9px;
                font-size: 20px;
                text-align: center;
            }

            > input {
                width: 840px;
                border: 0;
            }
        }
    }

    .a2-letter_form-body {
        position: relative;
        width: 958px;

        .a2-letter_form-with_notice {
            height: 22px;
            width: 23px;
            position: absolute;
            top: 3px;
            right: 12px;
            z-index: 1;
            background: url(../Images/Icons/bell-ring_icon.png) no-repeat 1px 1px;
            cursor: pointer;
            border: 1px solid transparent;

            &:active {
                border: 1px solid @color-blue;
            }
        }
    }
}