﻿@color-gray-light: #F3F5F4;
@color-gray: #DBDBDB;
@color-gray-dark: #868E90;
@color-blue: #16B4D8; /* Цвет компании */
@color-yelow-light: #FFE499;
@color-yelow: #EFB521;

.a2-login-popup {
	width: 500px;
	padding: 6px 18px;
	font-size: 12px;
	line-height: 24px;

	.a2-login-popup-header {
		font-size: 18px;
		padding: 0 0 6px 36px;
		border-bottom: 2px solid @color-gray;
		background: url("../Images/Icons/certificate.png") no-repeat 6px 4px;
		font-weight: 500;
	}

	.a2-certificates {
		span {
			display: inline-block;
			width: 100px;
			cursor: pointer;
			color: @color-gray;
		}
	}

	.a2-certificate {
		padding: 15px;
	}

	.display_state {
		&.error {
			color: red;
		}
	}
}
